mixin attachments(post)
  if post.attachments && post.attachments.length
    //- only one file
    if post.attachments.length === 1
      +attachment(post.attachments[0], post, 0)(class='attachment_expandable')
    //- more than one file
    else
      div.attachments-container
        for attachment, n in post.attachments
          +attachment(attachment, post, n)(class='attachment_expandable')

mixin attachment(attachment, post, n)
  -var id = `post-${ post.boardUri }-${ post.postId }-${ n }`;
  figure(
    id=(isPreview ? undefined : id)
    class=attributes.class
    class=['attachment', 'attachment_' + attachment.type]
    data-attachment-number=n
    data-board-uri=post.boardUri
    data-post-id=post.postId
    data-file=attachment.file
    data-duration=attachment.duration
    data-type=attachment.type
  )
    figcaption.filesize
      +filelink(attachment)
      |
      |
      +fileinfo(attachment)
    a.thumb-link(
      href!= filters.encodeUri(attachment.file)
      data-full-src=attachment.file
      data-full-width=attachment.width
      data-full-height=attachment.height
      data-thumb-src=attachment.thumb
      data-thumb-width=attachment.thumbWidth
      data-thumb-height=attachment.thumbHeight
    )
      if !isPreview
        input.checkbox-hidden.js-select-attachment(type='checkbox', name='attachments[]', value=id)
      div.thumb-container
        +thumbnail(attachment)
        if attachment.duration
          div.file-info-duration!= filters.readableDuration(attachment.duration)

mixin thumbnail(attachment)
  img.thumb(
    src=attachment.thumb
    alt=attachment.name
    width=attachment.thumbWidth
    height=attachment.thumbHeight
  )

mixin fileinfo(attachment)
  if attachment.size || (attachment.width && attachment.height)
    span.file-info
      | (
      if attachment.size
        span.file-info-size
          != filters.readableSize(attachment.size)
      if attachment.width && attachment.height
        | ,
        span.file-info-resolution #{ attachment.width }x#{ attachment.height }
      | )

mixin filelink(attachment)
  a.file-link(
    href!= filters.encodeUri(attachment.file)
    target='_blank'
    title=attachment.name)!= filters.shortFileName(attachment.name, {length: 25, placeholder: '[...]'})
