mixin attachments(post)
  if post.attachments && post.attachments.length
    //- only one file
    if post.attachments.length === 1
      +attachment(post.attachments[0], post, 0)(class='attachment_expandable')
    //- more than one file
    else
      div.attachments-container
        for attachment, n in post.attachments
          +attachment(attachment, post, n)(class='attachment_expandable')

mixin attachment(attachment, post, n, isMod)
  -var id = `post-${ post.boardUri }-${ post.postId }-${ n }`;
  -var notDel = !attachment.isDeleted || isMod
  figure(
    id=(isPreview ? undefined : id)
    class=attributes.class
    class=['attachment', 'attachment_' + attachment.type]
    class={
      attachment_deleted: !notDel,
      attachment_nsfw: !isMod && attachment.isNSFW,
      attachment_spoiler: !isMod && attachment.isSpoiler,
    }
    data-attachment-number=n
    data-board-uri=post.boardUri
    data-post-id=post.postId
    data-file=notDel && attachment.file
    data-duration=notDel && attachment.duration
    data-type=attachment.type
  )
    if attachment.isDeleted && !isMod
      figcaption.attachment__header= attachment.type
      div.thumbnail
        if !isPreview
          input.checkbox_hidden.js-select-attachment(type='checkbox', name='attachments[]', value=id)
        div.thumbnail__image-container
          div.thumbnail__placeholder No thumbnail
          div.attachment__badges
            div.badge.badge_danger DELETED
    else
      figcaption.attachment__header
        +filelink(attachment)
        |
        |
        +fileinfo(attachment)
      a.thumbnail(
        href!= filters.encodeUri(attachment.file)
        data-full-src=notDel && attachment.file
        data-full-width=notDel && attachment.width
        data-full-height=notDel && attachment.height
        data-thumb-src=notDel && attachment.thumb
        data-thumb-width=notDel && attachment.thumbWidth
        data-thumb-height=notDel && attachment.thumbHeight
      )
        if !isPreview
          input.checkbox_hidden.js-select-attachment(type='checkbox', name='attachments[]', value=id)
        div.thumbnail__image-container
          +thumbnail(attachment)
          if attachment.duration || attachment.isSpoiler || attachment.isNSFW || attachment.isDeleted
            div.attachment__badges
              if attachment.isDeleted
                div.badge.badge_danger DELETED
              if attachment.isNSFW
                div.badge.badge_warning NSFW
              if attachment.isSpoiler
                div.badge.badge_info SPOILER
              if attachment.duration
                div.file__info__duration!= filters.readableDuration(attachment.duration)

mixin thumbnail(attachment)
  img.thumbnail__image(
    src=attachment.thumb
    alt=attachment.name
    width=attachment.thumbWidth
    height=attachment.thumbHeight
  )

mixin fileinfo(attachment)
  if attachment.size || (attachment.width && attachment.height)
    span.file__info
      | (
      if attachment.size
        span.file__info__size
          != filters.readableSize(attachment.size)
      if attachment.width && attachment.height
        | ,
        span.file__info__resolution #{ attachment.width }x#{ attachment.height }
      | )

mixin filelink(attachment)
  a.file__link(
    href!= filters.encodeUri(attachment.file)
    target='_blank'
    title=attachment.name)!= filters.shortFileName(attachment.name, {length: 25, placeholder: '[...]'})
