mixin showHideBtn(target, isInitiallyHidden)
  span.button.button_link
    a.js-toggle-visibility(
      href=`#`,
      data-caption-show='show',
      data-caption-hide='hide',
      data-target=target,
      data-visible=isInitiallyHidden ? 'false' : 'true'
    )
      if isInitiallyHidden
        | show
      else
        | hide

mixin showOmittedBtn(nomitted, target, what)
  if what
    span.omitted (#{nomitted} #{what} omitted #[+showHideBtn(target, true)])
  else
    span.omitted (#{nomitted} omitted #[+showHideBtn(target, true)]])
