//- variables values and defaults must be defined
//- filters from /utils/filters must be defined as 'filters'

mixin hintText(hint, def)
  if typeof def !== 'undefined'
    small.desc #{hint} Default: <strong>#{ def }</strong>
  else
    small.desc= hint

mixin textArea(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    textarea(data-default=def, name=param, id=param, rows='10', required=required)= val
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin textEdit(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    input(data-default=def, name=param, id=param, type='text', value=val, required=required)
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin arrayEdit(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  - var rows = (val || []).join('\n')
  div.form-group
    if label
      label(for=param) #{ label }:
    textarea(data-default=def, name=`${param}:list`, id=param, rows='10', required=required)= rows
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin passwordEdit(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    input(data-default=def, name=param, id=param, type='password', value=val, required=required)
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin numberEdit(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    input(data-default=def, name=param+':number', id=param, type='number', value=val, required=required)
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin checkboxEdit(param, label, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    input(data-default=def, name=param+':boolean', id=param, type='checkbox', checked=val, required=required)
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

mixin comboboxEdit(param, label, options, hint, required)
  - var val = filters.getParam(param, values);
  - var def = filters.getParam(param, defaults);
  div.form-group
    if label
      label(for=param) #{ label }:
    select(data-default=def, name=param, id=param, required=required)
      for opt in options
        if opt.value === val
          option(value=opt.value, selected)= opt.label
        else
          option(value=opt.value)= opt.label
    if block
      small.desc
        block
    else if hint
      +hintText(hint, def)

