//- modern list pagination
mixin pagination(pageInfo)
  div.pages.pagelist
    ul.list.list_buttons
      li
        if pageInfo.prevPage
          a(href=pageInfo.prevPage.url, rel='prev', title='Previous page') ←
        else
          span ←
      for page, pNum in pageInfo.pages
        li
          if pNum === pageInfo.current
            | #{page.label}
          else
            | #[a(href=page.url, title=`Page ${page.label}`)= page.label]
      li
        if pageInfo.nextPage
          a(href=pageInfo.nextPage.url, rel='next', title='Next page') →
        else
          span →


//- legacy table pagination
mixin paginationOld(pageInfo)
  div.pages.pagelist
    table(border='1')
      tbody
        tr
          td
            if pageInfo.prevPage
              a(href=pageInfo.prevPage.url, rel='prev', title='Previous page') ←
            else
              span ←
          td
            for page, pNum in pageInfo.pages
              if pNum === pageInfo.current
                | 
                | [#{ page.label }]
              else
                |
                | [#[a(href=page.url)= page.label]]
          td
            if pageInfo.nextPage
              a(href=pageInfo.nextPage.url, rel='next', title='Next page') →
            else
              span →
