head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )

  - var baseTitle = board && board.name ? board.name : site && site.name ? site.name : pkg.name;
  if title
    title= title + ' — ' + baseTitle
  else
    title= baseTitle

  -
    var desc =
      board && board.desc ?
        board.desc :
      site && site.desc ?
        site.desc :
        pkg.description;
  meta(name="description", content=desc)
  link(rel="stylesheet", href="/.static/css/global.css")
  -
    var defaultBoardStyleName =
      board && board.defaultStyle ?
        board.defaultStyle :
        config.default_style_name;
    var defaultGlobalStyleName =
      site && site.defaultStyle ?
        site.defaultStyle :
        config.default_style_name;
    var defaultStyleName =
      board ?
        defaultBoardStyleName :
      site ?
        defaultGlobalStyleName :
        config.default_style_name;
    var defaultStyle = styles.find(s => s.name === defaultStyleName);
  if styles && styles.length
    for s in styles
      -
        let isBoardDefault = s.name === defaultBoardStyleName;
        let isGlobalDefault = s.name === defaultGlobalStyleName;
        let isCurrentDefault = s.name === defaultStyleName;
      link(
        rel="alternate stylesheet",
        title=s.capitalizedName,
        href=`/api/style?name=${s.name}&raw`,
        disabled,
        data-style=s.name,
        data-board-default=isBoardDefault,
        data-global-default=isGlobalDefault,
        data-default=isCurrentDefault,
        data-updated-at=s.updatedAt,
      )
  if defaultStyle
    style#user-style(data-style=defaultStyle.name)!= defaultStyle.rawCSS
  else
    style#user-style
  script
    include ../../html/.static/js/quickinit.js
  link(rel="shortcut icon", href="/.static/img/favicon.png")

  block head
