head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )

  - var baseTitle = board && board.name ? board.name : site && site.name ? site.name : pkg.name;
  if title
    title= title + ' — ' + baseTitle
  else
    title= baseTitle

  mixin styleLink(style, preferred)
    -var styleName = style[0].toUpperCase() + style.substring(1);
    link(rel="alternate stylesheet", href=`/.static/css/${ style }.css`, data-style=style, data-preferred=preferred, title=styleName)

  - var desc = board && board.desc ? board.desc : site && site.desc ? site.desc : pkg.description;
  meta(name="description", content=desc)
  link(rel="stylesheet", href="/.static/css/global.css")
  - var defaultStyle = board && board.defaultStyle ? board.defaultStyle : site && site.defaultStyle ? site.defaultStyle : 'umnochan';
  +styleLink(defaultStyle, true)
  for style in site.styles
    if style != defaultStyle
      +styleLink(style, false)
  link(rel="shortcut icon", href="/.static/img/favicon.png")

  block head
