include ../mixins/timestamp.pug

div.news-entry(id='news-' + n.number)
  div.news__header
    span.news__subject= n.subject
    | 
    | by
    | 
    if n.email
      a.news__author(href='mailto:' + n.email)= n.name
    else
      span.news__author= n.name
    if n.createdAt
      | 
      | -
      | 
      +datetime(n.createdAt)
    span.news__link
      a(href='#news-' + n.number, title='premalink') ##{n.number}
  div.news__content!= filters.markdown(n.message)
