include ../mixins/attachments.pug
include ../mixins/timestamp.pug
include ../mixins/postbody.pug
include ../mixins/icons.pug

div(
  id=(isPreview ? undefined : `post-${ post.boardUri }-${ post.postId }`)
  data-thread-id=post.threadId
  data-post-id=post.postId
  data-board-uri=post.boardUri
  class={
    'post': true,
    'post_reply': !post.isOp || isPreview,
    'post_op': post.isOp,
    'post_sticky': post.isSticky,
    'post_closed': post.isClosed,
    'post_autosage': post.isAutosage,
    'post_sage': post.isSage,
    'post_deleted': post.isDeleted,
    'post_approved': post.isApproved
  }
)
  if !isPreview && post.isOp && post.attachments.length === 1
    +attachments(post)
  div.post__header
    a.post__header__board(href=`/${ post.boardUri }`)= post.boardUri
    label
      if !isPreview
        input.post__header__checkbox.js-select-post(
          name='posts[]',
          value=`post-${post.boardUri}-${post.postId}`,
          type='checkbox'
        )
      if post.subject
        span.post__header__subject= post.subject
        |
        |
      if post.name
        if post.email
          a.post__header__name(href=`mailto:${ post.email }`)= post.name
        else
          span.post__header__name= post.name
      if post.tripcode
        span.post__header__tripcode= post.tripcode
      if post.name || post.tripcode
        |
        |
      if post.staffStatus
        span.post__header__staff(class=`staff-${post.staffStatus}`)= post.staffStatusDisplay || post.staffStatus
        |
        |
      +datetime(post.createdAt)
      |
      |
    span.post__header__number
      - var threadUrl = `/${ post.boardUri }/res/${ post.threadId || post.postId }.html`;
      - var postNo = `post-${ post.boardUri }-${ post.postId }`;
      a.post__header__number__highlight(href=`${ threadUrl }#${postNo}`) No.&nbsp;
      a.post__header__number__reply(href=`${ threadUrl }#postbox?r=${postNo}`)= post.postId
    span.post__badges
      if post.isDeleted
        span.post__badge.post__badge_deleted(title='Deleted')
          +icon('trash', 'small') DELETED
      if post.isSage && !post.isOp
        span.post__badge.post__badge_sage(title='Sage')
          +icon('arrow-circle-down', 'small')
      if post.isOp
        if post.isSticky
          span.post__badge.post__badge_sticky(title='Sticky')
            +icon('thumbtack', 'small')
        if post.isClosed
          span.post__badge.post__badge_closed(title='Closed')
            +icon('lock', 'small')
        if post.isAutosage
          span.post__badge.post__badge_autosage(title='Autosage')
            +icon('arrow-circle-down', 'small')
    if !isPreview
      span.post__buttons
        if post.isOp
          if site.features.hideThread
            a.post__button.post__button_hide(href='#', title='Hide thread')
              +icon('plus', 'small')
              +icon('minus', 'small')
          if site.features.favorites
            a.post__button.post__button_favorite(href='#', title='Watch thread')
              +icon('star', 'small')
          if site.features.expandThread && isPage
            a.post__button.post__button_expand(href='#', title='Expand thread')
              +icon('stream', 'small')
        else
          if site.features.hidePost
            a.post__button.post__button_hide(href='#', title='Hide post')
              +icon('plus', 'small')
              +icon('minus', 'small')
        if site.features.quickreply
          a.post__button.post__button_reply(href='#', title='Quick reply')
            +icon('comment', 'small')
    //- [Reply] button
    if isPage && post.isOp
      span.thread__reply.button.button_link
        a(href=`/${ post.boardUri }/res/${ post.postId }.html`) Reply
  if (!post.isOp || isPreview) || post.attachments.length > 1
    +attachments(post)
  div.post__body
    blockquote
      +postbody(post)
  if site.features.refmaps
    div.post__footer
      if post.replies && post.replies.length
        ul.post__footer__replies.list.list_inline
          for ref in post.replies
            li.list__item
              +reflink(ref, 'reply')
      if post.references && post.references.length
        ul.post__footer__references.list.list_inline
          for ref in post.references
            li.list__item
              +reflink(ref, 'reference')
  //- pre= JSON.stringify(post, null, 2)
