form#postform.postform.hidden(
  action=`/form/post/`
  method='post'
  enctype='multipart/form-data'
  class={
    'postform_forced-anon' : board ? board.isForcedAnon : false,
    'postform_reply'       : !isPage,
    'postform_thread'      : isPage,
    'postform_no-subject'  : !(board ? board.allowRepliesSubject : false),
    'postform_no-upload'   : board ? board.maxFilesPerPost === 0 : false,
    'postform_no-captcha'  : board ? !(board.captcha && board.captcha.enabled) : false,
    'postform_no-sage'     : board ? !(board.features && board.features.sage) : false,
    'postform_no-spoiler'  : board ? !(board.features && board.features.attachmentSpoiler) : false,
    'postform_no-nsfw'     : board ? !(board.features && board.features.attachmentNSFW) : false,
  }
)
  input(
    name='board'
    value=board ? board.uri : ''
    type='hidden'
  )
  input(
    name='replythread'
    value=thread ? thread.postId : 0
    type='hidden'
  )
  //- spam trap
  input.trap(
    name='email'
    type='text'
  )
  - var placeholder = board ? board.defaultPosterName : '';
  div.postform__row.postform__postername
    div.postform__row__label
      label(for='name-input').form-label Name
    div.postform__row__inputs
      input#name-input.from-input(
        name='name'
        size='28'
        maxlength='75'
        accesskey='n'
        type='text'
        placeholder=placeholder
      )
  div.postform__row.postform__email
    div.postform__row__label
      label(for='link-input').form-label Email
    div.postform__row__inputs
      input#link-input.from-input(
        name='em'
        size='28'
        maxlength='75'
        accesskey='n'
        type='text'
      )
  div.postform__row.postform__subject
    div.postform__row__label
      label(for='subject-input').form-label Subject
    div.postform__row__inputs
      input#subject-input.from-input(
        name='subject'
        size='35'
        maxlength='75'
        accesskey='s'
        type='text'
      )
      input.postform__submit.postform__submit_subject(
        type='submit'
        value='Submit'
        accesskey='z'
      )
  div.postform__row.postform__message
    div.postform__row__label
      label(for='message-input').form-label Message
    div.postform__row__inputs
      textarea#message-input.from-input(
        name='message'
        cols='60'
        rows='10'
        accesskey='m'
      )
      div.postform__submit.postform__submit_bottom
        input(
          type='submit'
          value='Submit'
          accesskey='z'
          )
  div.postform__row.postform__upload
    div.postform__row__label
      label.form-label File
    div.postform__row__inputs
      - var multiple = board ? board.maxFilesPerPost > 1 : true;
      input.from-input(
        name=`files`
        size='35'
        accesskey='f'
        type='file'
        multiple=multiple
      )
      ul.list_buttons
        li.postform_spoiler.button_link
          input#spoiler-input.spoiler-input(
            name=`spoiler`,
            type='checkbox',
            accesskey='s',
          )
          label(for='spoiler-input') Spoiler
        li.postform_nsfw.button_link
          input#nsfw-input.nsfw-input(
            name=`nsfw`,
            type='checkbox',
            accesskey='x',
          )
          label(for='nsfw-input') NSFW
  div.postform__row.postform__password
    div.postform__row__label
      label(for='postpassword-input').form-label Password
    div.postform__row__inputs
      input#postpassword-input.from-input(
        name='postpassword'
        size='8'
        accesskey='p'
        type='password'
      )
      |
      |
      small.desc (For post and file deletion)
  div.postform__row.postform__captcha
    div.postform__row__label
      label(for='captcha-input').form-label Capthca
    div.postform__row__inputs
      input.captcha-input#captcha-input.from-input(
        name='captcha'
        size='28'
        maxlength='64'
        accesskey='c'
        type='text'
        placeholder='Click here to display captcha'
      )
      a.js-update-captcha(href='#', title='Click to refresh captcha')
        noscript
          - var action = isPage ? 'thread': 'reply';
          - var catpchaUrl = `/api/captcha/${board ? board.uri : ''}/${action}?raw=true&r=${Math.random()}`;
          img.captcha-image#captcha-image(src=catpchaUrl, alt='Captcha image')
  div.postform__row.postform__options
    div.postform__row__label
      label.form-label Options
    div.postform__row__inputs
      ul.list_buttons
        li.postform__sage
          input#sage(name='sage', type='checkbox')
          label(for='sage') #[abbr(title=`Don't bump thread`) säge]
        li.postform__noko
          input#noko(name='postredir', value='on', type='checkbox')
          label(for='noko') #[abbr(title=`Return to thread after posting`) nöko]
        li.postform__staffstatus
          input#staffstatus(name='staffstatus', type='checkbox')
          label(for='staffstatus') #[abbr(title='Display staff status (Mod/Admin)') Staff]
        li.postform__staffname
          input#staffname(name='staffname', type='checkbox')
          label(for='staffname') #[abbr(title='Use staff name') Name]
        li.postform__markdown
          input#markdown(name='markdown', type='checkbox')
          label(for='markdown') #[abbr(title='Markdown + HTML, reflinks will not be parsed') Raw]
  div.postform__row.postform__rules
    if board
      ul
        li Supported file types are: <strong>GIF, PNG, JPG, SVG, WEBP, WEBM, MP4, OGV</strong>
        li Maximum file size allowed is <strong>#{filters.readableSize(board.maxFileSize)}</strong>.
        li Maximum number of files per upload is <strong>#{board.maxFilesPerPost}</strong>.
        li Images greater than <strong>#{site.thumbSize.width}x#{site.thumbSize.width}</strong> will be thumbnailed.
        li
          | Currently <strong>#{stats.uniqueUserPosts}</strong> unique user posts.
          if board.features.catalog
            |
            |
            a(href=`/${board.uri}/${config.catalog_filename}`) View catalog
