include mixins/reflink.pug

mixin error(error)
  if (error.stack)
    pre.error= error.stack
  else if error.param
    //- express-validator error
    div.error #{ error.param }: #{ error.msg || error.message }
  else if (error.name)
    div.error #{ error.name }: #{ error.msg || error.message }
  else
    div.error #{ error.msg || error.message }

if (success && success.length)
  div
    | Successfully changed:
    if success[0].ref
      ul.list.list_inline
        for item in success
          if (item.ref)
            li.list__item
              +reflink(item.ref)
    else
      |  #[strong= success.length] item(s)

if (fail && fail.length)
  div
    | Not changed:
    ul.list_unmarked
      for item in fail
        if (item.ref)
          +reflink(item.ref)
        else if (item.target)
          +reflink(item.target)
          if (item.status === 204)
            |  (Nothing to change)
          else if (item.error)
            |  (#{ item.error.message })
        else
          pre= JSON.stringify(item, null, 2)

if error
  +error(error)
