if !isPage
  .replymode Reply to thread
div#postbox.postarea
  form#postform.postform(
    action=`/form/post/`
    method='post'
    enctype='multipart/form-data'
  )
    input(
      name='board'
      value=board.uri
      type='hidden'
    )
    input(
      name='replythread'
      value=thread ? thread.postId : 0
      type='hidden'
    )
    input(
      name='MAX_FILE_SIZE'
      value=board.maxFileSize
      type='hidden'
    )
    input(
      name='email'
      style={ display: 'none' }
      type='text'
    )
    table.postform
      if !board.isForcedAnon
        //- div.form-row
        tr
          //- div.form-col
          td.postblock
            label(for='name-input').form-label Name
          //- div.form-col
          td
            input#name-input.from-input(
              name='name'
              size='28'
              maxlength='75'
              accesskey='n'
              type='text'
              placeholder=board.defaultPosterName
            )
        //- div.form-row
        tr(class='hidden')
          //- div.form-col
          td.postblock
            label(for='link-input').form-label Email
          //- div.form-col
          td
            input#link-input.from-input(
              name='em'
              size='28'
              maxlength='75'
              accesskey='n'
              type='text'
            )
      if board.enableCaptcha
        //- div.form-row
        tr
          //- div.form-col
          td.postblock
            label(for='captcha-input').form-label Capthca
          //- div.form-col
          td
            input#captcha-input.from-input(
              name='captcha'
              size='28'
              maxlength='64'
              accesskey='c'
              type='text'
            )
      if isPage || board.allowRepliesSubject
        //- div.form-row
        tr
        //- div.form-col
        td.postblock
          label(for='subject-input').form-label Subject
        //- div.form-col
        td
          input#subject-input.from-input(
            name='subject'
            size='35'
            maxlength='75'
            accesskey='s'
            type='text'
            required=isPage && board.newThreadsRequired.subject
          )
          input(
            type='submit'
            value='Submit'
            accesskey='z'
          )
          //- small.posttypeindicator
            span#posttypeindicator
              if thread
                |(reply to #{ thread.postId })
              else
                |(new thread)
      //- div.form-row
      tr
        //- div.form-col
        td.postblock
          label(for='message-input').form-label Message
        //- div.form-col
        td
          textarea#message-input.from-input(
            name='message'
            cols='38'
            rows='4'
            accesskey='m'
            required=isPage && board.newThreadsRequired.message
          )
          if !(isPage || board.allowRepliesSubject)
            div
              input(
                type='submit'
                value='Submit'
                accesskey='z'
                )
      //- div.form-row
      if board.maxFilesPerPost !== 0
        tr
          //- div.form-col
          td.postblock
            label(for='imagefile-input').form-label File
          //- div.form-col
          td
            input#imagefile-input.from-input(
              name='imagefile'
              size='35'
              accesskey='f'
              type='file'
              required=isPage && board.newThreadsRequired.files
            )
      //- div.form-row
      tr
        //- div.form-col
        td.postblock
          label(for='postpassword-input').form-label Password
        //- div.form-col
        td
          input#postpassword-input.from-input(
            name='postpassword'
            size='8'
            accesskey='p'
            type='password'
          )
          |
          |
          small.desc (For post and file deletion)
      //- div.form-row
      tr
        //- div.form-col
        td.postblock
          label.form-label Options
        //- div.form-col
        td
          div.form-input-group
            if board.features.sage && !isPage
              span.link-button-wrapper
                input#sage(name='sage', type='checkbox')
                label(for='sage') säge
              | 
            span.link-button-wrapper
              input#noko(name='postredir', value='1', type='checkbox')
              label(for='noko') nöko
      tr
        td.rules(colspan='2')
          ui
            li Supported file types are: GIF, PNG, JPG, SVG, WEBP, WEBM, MP4, OGV
            li Maximum file size allowed is #{filters.readableSize(board.maxFileSize)}.
            li Maximum number of files per upload is #{board.maxFilesPerPost}.
            li Images greater than #{site.thumbSize.width}x#{site.thumbSize.width} will be thumbnailed.
            li
              | Currently #{stats.uniqueUserPosts} unique user posts.
              if board.features.catalog
                |
                |
                a(href=`/${board.uri}/${config.catalog_filename}`) View catalog
