extends layouts/default.pug
include mixins/attachments.pug
include mixins/timestamp.pug

block bodyClass
  - var bodyClass = 'catalog-page'

block header
  include includes/boardheader.pug

block main
  div.button.button_link.return-link-return-link-top
    a(href='/' + board.uri) Return

  div.catalog
    div.page-title Catalog

    div.catalog__threads
      for thread in threads
        - var replies = thread.children.length;
        - var images = thread.numberOfAttachmentsInThread;
        - var file = null;
        if thread.attachments && thread.attachments.length
          - file = thread.attachments[0];
        div.catalog__thread(
          data-replies=replies
          data-images=images
          data-board-uri=thread.boardUri
          data-thread-id=thread.postId
          data-created=thread.timestamp
          data-subject=thread.subject
          data-message=thread.body
          )
          a.catalog__thread__link(href=`/${thread.boardUri}/res/${thread.postId}.html`)
            if file
              figure.catalog__thread__image
                +thumbnail(file)
            if thread.subject
              span.catalog__thread__subject= thread.subject
            div.catalog__thread__stats
              span.catalog__thread__replies(title='Number of replies')= replies
              |
              span.catalog__thread__attachments(title='Number of images')= images
              |
              span.catalog__thread__created(title='Thread created')
                +date(thread.timestamp)
            if thread.body
              div.catalog__thread__message= thread.body.substring(0, 100)

  div.button.button_link.return-link-return-link-bottom
    a(href='/' + board.uri) Return

block footer
  include includes/boardfooter.pug

block scripts
  script(src='/.static/js/kotoba.js')
