extends layouts/default.pug

block bodyClass
  - var bodyClass = 'error-page'

block header
  nav.text-right
    span.section-wrapper
      span.link-wrapper
        a(href='/') Home
  h1.text-center Kuso!

block main
  if error
    div.message.message_danger #{error.code || error.name} #{ error.param }: #{ error.message }
    if error.stack
      pre.message.message_danger= error.stack
  if errors
    for e in errors
      div.message.message_danger #{error.code || error.name} #{ error.param }: #{ error.msg }

block scripts
  script(src='/.static/js/kotoba.js')
