extends layouts/default.pug

block append attributes
  -
    bodyClass['registration-page'] = true;

block header
  nav.text-right
    span.section-wrapper
      span.link-wrapper
        a(href='/manage/login') Sign in
      span.link-wrapper
        a(href='/') Home
  h1.text-center Registration

block main
  if errors && errors.length
    div.errors
      for error in errors
        //- pre= JSON.stringify(error, null, 2)
        div.alert.alert_danger= error.msg || error
  div.text-center
    img(src='/.static/img/kotoba_logo_md.png')
  form.text-center(
    action='/manage/registration/'
    enctype='application/x-www-form-urlencoded'
    name='login-form'
    id='login-form'
    method='post'
  )
    div
      input(
        type='text'
        name='login'
        id='login-input'
        placeholder='Login'
        required=true
      )
    div
      input(
        type='password'
        name='password'
        id='password-input'
        placeholder='Password'
        required=true
      )
    div
      input(
        type='password'
        name='repeat'
        id='repeat-input'
        placeholder='Repeat password'
        required=true
      )
    div
      input(
        type='submit'
        value='Sign up'
      )

block scripts
  script(src='/.static/js/kotoba.js')
