extends managepage.pug
include ../mixins/timestamp.pug
include ../mixins/postbody.pug

mixin nothing-change
  li Did nothing, actually

mixin post-change(change)
  | in 
  +reflink(change.target)

mixin board-change(change)
  | in #[a(href=`/${ change.target.uri }`) /#{ change.target.uri }/]

mixin generic-change(change)
  | in #[span #{ change.target }]

mixin change(change)
  li
    | Changed #[strong #{ change.model }.#{ change.property }] from
    | #[strong #{ change.oldValue }] to #[strong #{ change.newValue }]
    | 
    if change.model === 'Post'
      +post-change(change)
    else if change.model === 'Board'
      +board-change(change)


block main
  h1 Modlog
  if modlog.length
    ul
      for item in modlog
        li
          +datetime(item.timestamp)
          if item.user
            | 
            a(href=`/manage/staff/${ item.user.login }`)= item.user.login
            if item.user.displayname
              small.unimportant  (aka #[span.nickname #{item.user.displayname}])
          else
            | 
            span.postername Anonymous
            | 
            span.posterip= item.ip
          ul
            if item.changes && item.changes.length
              for change in item.changes
                +change(change)
            else
              +nothing-change
          if item.regenerate
            | #[strong HTML regenerated]
  else
    | No more entries
  if (modlog.length)
    - var lastEntry = modlog[modlog.length - 1]
    a(href=`/manage/modlog/${lastEntry.timestamp.getTime()}`) More entries
