extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/timestamp.pug
include ../mixins/modals.pug

block header
  if news
    h1 Edit news post
  else
    h1 Add news post

block main
  - var action = news ? '/api/news/' + news.number : '/api/news/';
  - var method = news ? 'PATCH' : 'PUT';
  form#form-edit-news(action=action, data-method=method)
    - var values = news ? news : { postedby: user.login };
    +textEdit('subject', 'Subject', '', true)
    +textArea('message', 'Message', '', true)
      | This message will be displayed as it is written, so make sure you add the proper HTML.
      | <a href="http://spec.commonmark.org/">Markdown</a> is supported.
    +textEdit('postedby', 'Posted by', 'Can be left blank.')
    +textEdit('postedemail', 'E-mail', 'Can be left blank.')
    if news
      input#btn-edit-news(type='submit', value='Edit')
    else
      input#btn-add-news(type='submit', value='Add')

  if newsList.length
    h2 Edit/Delete News
    table.table
      thead
        tr
          th #
          th Date Added
          th Subject
          th Posted by
          th Message
          th Edit/Delete
      tbody
        for n in newsList
          tr
            td= n.number
            td
              if n.postedDate
                +datetime(n.postedDate)
            td= n.subject
            td
              if n.postedemail
                a(href='mailto:' + n.postedemail)= n.postedby
              else
                =n.postedby
            td= n.message
            td
              form(method='post', action='/api/news', data-method='patch')
                input(type='hidden', name='newsId', value=n.number)
                button(type='button', class='btn', data-news=n.number, data-action='edit') Edit
              form(method='post', action='/api/news', data-method='delete')
                input(type='hidden', name='newsId', value=n.number)
                button(type='button', class='btn', data-news=n.number, data-action='delete') Delete

block modals
  +confirmPrompt('dialog-delete-news', 'Delete news', 'Delete')
    p Are you sure want to delete this entry?
    div.dialog-news-preview
    label
      input(type="checkbox", checked, name="regenerate:boolean")
      | Regenerate main page

  +confirmPrompt('dialog-news-confirm', news ? 'Add news' : 'Edit news', 'Save')
    p News entry preview:
    div.news-preview
    label
      input(type="checkbox", checked, name="regenerate:boolean")
      | Regenerate main page

  +alertPrompt('dialog-news-success', 'Success')
    p= news ? 'News entry updated' : 'News entry added'
