extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/timestamp.pug
include ../mixins/modals.pug

block main
  - var values = user

  h1 Your profile
  div
    p Your login: #[strong= user.login] #[small (login can not be chaged)]
    p Your authority: #[strong= user.authority] #[small (authority can be changed by admin)]
    p Joined: #[strong #[+date(user.addedon)]]

  h2 Profile info
  form#form-update-user(method='post', action='/api/me', data-method='PATCH')
    +textEdit('displayname', 'Name', 'This affects only the name that is shown to others. Your login stays the same. If left blank, your login will be used.')
    +textArea('contacts', 'Contacts', 'Write here your e-mail, jabber, twitter, or whatever. One per row. The one in the first row will be used as default e-mail when posting news.')
    input#btn-update-user(type='submit', value='Update profile')

  h2 Change password
  form#form-change-password(method='post', action='/api/me/password', data-method='patch')
    +passwordEdit('old_password', 'Old password', '', true)
    +passwordEdit('password', 'New password', '', true)
    +passwordEdit('password_confirmation', 'Confirm new password', '', true)
    input#btn-change-password(type='submit', class='btn', value='Change password')

  h2 Delete account
  div Once you delete your account, there is no going back. Please be certain.
  form#form-delete-account(
    method='post',
    action='/api/me/',
    data-method='delete',
    data-confirm='#dialog-delete-account',
    data-success='#dialog-delete-account-success'
    )
      input#btn-delete-account(type='submit', class='btn', value='Delete account')

block modals
  +confirmPrompt('dialog-delete-account', 'Delete account', 'Delete account')
    +textEdit('login', 'Login', '', true)
    +passwordEdit('password[0]', 'Password', '', true)
    +passwordEdit('password[1]', 'Confirm password', '', true)
    +passwordEdit('password[2]', 'Confirm password one more time', '', true)
    div
      label
        input(type='checkbox', required, name='check[0]:boolean')
        | Yes, I want to delete my account
    div
      label
        input(type='checkbox', required, name='check[1]:boolean')
        | Yes, I undersand that this can not be undone
    div
      label
        input(type='checkbox', required, name='check[2]:boolean')
        | Yes, I don't care

  +alertPrompt('dialog-delete-account-success', 'Success')
    p Your account has been deleted. Now you'll be logged out and redirected to main page.
