extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/modals.pug

block header
  if board
    h1 Board options
  else
    h1 Add board

block main
  - var values = board || boardDefaults
  - var defaults = boardDefaults
  if board
    h2 /#{ board.uri }/ - #{ board.name }
    div.button.button_link
      a(href='/manage/boards') Select another board
    div.button.button_link
      a(href='/' + board.uri) Browse board
    div.button.button_link
      a(href='/manage/staff?board=' + board.uri) Board staff
  else
    div.button.button_link
      a(href='/manage/boards') Edit boards

  - var action = '/api/board/';
  - var getUrl = board ? `/api/board/${board.uri}?select=!all` : null;
  - var method = board ? 'PATCH' : 'POST';
  form#form-update-board(method='POST', action=action, data-method=method, data-get-url=getUrl)
    if !board
      +textEdit('uri', 'Directory', 'The directory of the board.', true)
    else
      +nothingEdit('uri', 'Directory')
      input(type='hidden', name='uri', value=board.uri)
    +textEdit('name', 'Name', 'The name of the board.')
    +textEdit('desc', 'Description', 'Short description of board for meta.')
    -var localeOptions = locales.map(([lang, code]) => ({value: code, label: `${ lang } (${ code })`}));
    +comboboxEdit('locale', 'Locale', localeOptions, 'Locale to use on this board. Leave blank to use the locale defined in site settings.')
    +textArea('header', 'Additional header')
      | HTML under board title in page header.
      | Be careful and close all tags.
      | <a href="http://spec.commonmark.org/">Markdown</a> is supported.
    div.text-right
      button(type='button', class='btn', data-action='preview-markdown', data-field='header') Preivew
    +textArea('navbar', 'Additional menu')
      | HTML of additional navigation menu under #[a(href='/manage/sitesettings#menu') top links].
      | Be careful and close all tags.
      | <a href="http://spec.commonmark.org/">Markdown</a> is supported.
    div.text-right
      button(type='button', class='btn', data-action='preview-markdown', data-field='navbar') Preivew
    h3 Options
    +checkboxEdit('isHidden', 'Hidden', 'Do not dispaly this board in navigation menu.')
    +checkboxEdit('isLocked', 'Locked', 'Only moderators of the board and admins can make new posts/replies.')
    h3 Appearance
    if (styles)
      - var defaultStyleOptions = styles.map(stl => ({ value: stl.name, label: stl.capitalizedName }))
      +comboboxEdit('defaultStyle', 'Default style', defaultStyleOptions)
        | The style which will be set when the user first visits the board. #[span.button.button_link #[a(href='/manage/styles') Edit styles]]
    +textEdit('imageUri', 'Header image')
      | URL. Overrides the header set in site settings. Leave blank to use configured global header image. Use #[a(href='/manage/assets/') assets] as reliable image storage.
    +textEdit('faviconUri', 'Favicon image')
      | URL. Overrides default favicon. Leave blank to use default favicon. Use #[a(href='/manage/assets/') assets] as reliable image storage.
    h3 Pages
    +numberEdit('maxThreadsOnPage', 'Threads per page', 'How many threads are shown on page by default.')
    +numberEdit('maxPages', 'Maximum board pages.', 'Number of pages that are displayed on board. This option does not mean that threads after last page are deleted, they are still available via api and can be bumped. More pages means more load on server as all pages are rendered after each post on board.')
    +numberEdit('autosage', 'Maximum thread replies', 'The number of replies a thread can have before autosaging to the back of the board.')
    +numberEdit('showReplies', 'Show replies', 'Number of replies to show on a board page.')
    +numberEdit('showRepliesSticky', 'Show replies sticky', 'Number of replies to show on a board page when the thread is sticked.')
    h3 Upload rules
    +numberEdit('maxFileSize', 'Maximum file size', 'Maxmimum size of uploaded images, in bytes.')
    +numberEdit('maxFilesPerPost', 'Maximum files per post', '0 forbids any uploads making board text only.')
    h3 Posting rules
    +numberEdit('maxMessageLength', 'Maximum message length', 'Maximum message length.')
    +textEdit('defaultPosterName', 'Anonymous', 'Name to display when a name is not attached to a post.')
    +checkboxEdit('isForcedAnon', 'Forced anonymous', 'If set to yes, users will not be allowed to enter a name, making everyone appear as Anonymous.')
    +checkboxEdit('allowRepliesSubject', 'Enable subject field for replies', 'Who needs it anyway?')
    h3 Captcha
    small.hint Rebuild all board pages when changing captcha settings, or else posting can become impossible due to lack of captcha field in posting form
    +checkboxEdit('captcha[enabled]', 'Enable captcha', 'Enable/disable captcha system for this board. If captcha is enabled, in order for a user to post, they must first correctly enter the text on an image.')
    +numberEdit('captcha[unsolvedExpireTime]', 'Expiration time for unsolved captcha', 'Number of minutes until unsolved captcha expires and need to be refreshed. Set it to reasonable value, like 10 minutes.')
    +numberEdit('captcha[replyExpireTime]', 'Expiration time after reply', 'Number of minutes when solved captcha is still valid after reply.')
    +numberEdit('captcha[threadExpireTime]', 'Expiration time after new thread', 'Number of minutes when solved captcha is still valid after creation of new thread.')
    h3 New threads require
    +checkboxEdit('newThreadsRequired[files]', 'Attachments', 'If set to yes, new threads will require an image to be posted.')
    +checkboxEdit('newThreadsRequired[message]', 'Message', 'If set to yes, new threads will require message to be posted.')
    +checkboxEdit('newThreadsRequired[subject]', 'Subject', 'If set to yes, new threads will require subject to be posted.')
    h3 Features
    +checkboxEdit('features[reporting]', 'Enable reporting', 'Reporting allows users to report posts, adding the post to the report list.')
    +checkboxEdit('features[archive]', 'Enable archiving', 'Enable/disable thread archiving for this board.')
    +checkboxEdit('features[catalog]', 'Enable catalog', 'If set to yes, a catalog.html file will be built with the other files, displaying the original picture of every thread in a box.')
    +checkboxEdit('features[sage]', 'Enable sage', 'Allow users to reply to threads without bumping them.')
    +checkboxEdit('features[permanentSage]', 'Permanent sage', 'If set to yes, poster can only sage thread once. After that, they no longer can post in threads they saged.')

    if board
      input#btn-update-board(type='submit', value='Update board options')
    else
      input#btn-create-board(type='submit', value='Create board')

  if board
    h2 Danger zone
    div.button.button_link
      a(href='/manage/boards/delete/' + board.uri) Delete board

block modals
  +confirmPrompt('dialog-update-board', 'Update board options', 'Save changes')
    p Following options will be changed:
    div.changes-list
    label
      input(type="checkbox", checked, name="regenerate:boolean")
      | Regenerate board

  +alertPrompt('dialog-update-board-success', 'Success')
    if board
      p Board was updated
    else
      p Board was created
