extends managepage.pug
include ../mixins/modals.pug

block header
  -
    const isCreate = crud === 'create';
    const isUpdate = crud === 'update';
    const isDelete = crud === 'delete';
    const isRead = crud === 'read';
  if isUpdate
    h1 Board options /#{ board.uri }/
  if isRead
    h1 Boards
  if isDelete
    h1 Delete board /#{ board.uri }/
  if isCreate
    h1 Create board
  nav
    ul.list.list_buttons
      if !isRead
        li.list__item
          a(href='/manage/boards') All boards
      if !isCreate
        li.list__item
          a(href='/manage/boards/create') Create board
      if isUpdate
        li.list__item
          a(href='/' + board.uri) Browse board
        li.list__item
          a(href='/manage/staff?board=' + board.uri) Board staff
      if isDelete
        li.list__item
          a(href='/manage/boards/edit/' + board.uri) Back to board options

block main
  form#form-delete-board(method='post', data-method='delete', action='/api/board/')
    input(type='hidden', name='uri', value=board.uri)
    div
      label
        input(type='checkbox', required, name='check[0]:boolean')
        | Yes, I want to delete this board
    div
      label
        input(type='checkbox', required, name='check[1]:boolean')
        | Yes, I know all threads and posts on this board will be deleted
    div
      label
        input(type='checkbox', required, name='check[2]:boolean')
        | Yes, I regularly make backups
    div
      label
        input(type='checkbox', required, name='check[3]:boolean')
        | Yes, I want folder /#{board.uri}/ to be permanently deleted, including html, uploads, thumbnails and archived threads
    div
      label
        input(type='checkbox', required, name='check[4]:boolean')
        | Yes, I know that this action can not be undone
    div
      label I'm sure this is the board I want to delete:
        input(type='text', required, name='board')
    div
      label
        input(type='checkbox', required, name='check[5]:boolean')
        | No, I'm not baka
    input#btn-delete-board(type='submit', value='Delete Board')

block modals
  +confirmPrompt('dialog-delete-board-confirm', 'Delete board', 'Delete')
    p Board /#{ board.uri }/ will be permanently deleted

  +alertPrompt('dialog-delete-board-success', 'Success')
    p Board was deleted. RIP.
