extends managepage.pug

block header
  h1 Disk Space Used

block main
  table.table
    thead
      tr.table__row.table__row_header
        th.table__header.table__header_sortable.table__header_sort-descending(rowspan=2, data-sort-type='string', data-sort-field='board', data-sort-order='descending') Board
        th.table__header(colspan=2) res
        th.table__header(colspan=2) src
        th.table__header(colspan=2) thumb
        th.table__header(colspan=2) Total
      tr.table__row.table__row_header
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='resFiles') Files
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='resSize') Space
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='srcFiles') Files
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='srcSize') Space
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='thumbFiles') Files
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='thumbSize') Space
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='totalFiles') Files
        th.table__header.table__header_sortable(data-sort-type='number', data-sort-field='totalSize') Space
    tbody
      mixin stats(d)
        if d
          td= d.files
          td!= filters.readableSize(d.size)
        else
          td -
          td -

      for dir in dirStats
        -var resSize = dir.children[0] && dir.children[0].size;
        -var resFiles = dir.children[0] && dir.children[0].files;
        -var srcSize = dir.children[1] && dir.children[1].size;
        -var srcFiles = dir.children[1] && dir.children[1].files;
        -var thumbSize = dir.children[2] && dir.children[2].size;
        -var thumbFiles = dir.children[2] && dir.children[2].files;
        -var totalSize = dir.total && dir.total.size;
        -var totalFiles = dir.total && dir.total.files;
        tr.table__row(data-board=dir.dirname, data-res-size=resSize, data-res-files=resFiles, data-src-size=srcSize, data-src-files=srcFiles, data-thumb-size=thumbSize, data-thumb-files=resFiles, data-total-size=totalSize, data-total-files=totalFiles)
          th #[a(href=`/${dir.dirname}/`) /#{dir.dirname}/]
          +stats(dir.children[0])
          +stats(dir.children[1])
          +stats(dir.children[2])
          td
            - var dirFiles = dir.total.files;
            - totalFiles += dirFiles
            strong= dirFiles
          td
            - var dirSize = dir.total.size;
            - totalSize += dirSize
            strong!= filters.readableSize(dirSize)
    tfoot
      -var totalSize = dirStats.reduce((acc, dir) => acc + dir.total.size, 0);
      -var totalFiles = dirStats.reduce((acc, dir) => acc + dir.total.files, 0);
      tr.table__row
        th
          strong All boards
        +stats(dirTotals[0])
        +stats(dirTotals[1])
        +stats(dirTotals[2])
        td
          strong= totalFiles
        td
          strong!= filters.readableSize(totalSize)
