extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/modals.pug
include ../mixins/timestamp.pug
include ../mixins/text.pug
include ../mixins/controls.pug
include ../mixins/icons.pug

mixin userRole(b, r)
  span(class=`user__role`)
    a(href=`/${b}/`, title='Go to board', class='user__role__board', class={'highlight': b === query.board}) /#{b}/
    | :
    a(href=`/manage/roles/${r.roleName}`, title='Edit role', class='user__role__name', class={'highlight': r.roleName === query.role}) #{r.roleName}

mixin userRow(u)
  - var userClass = `user_${u.login}`;
  td
    a.user__login(href=`/manage/staff/${ u.login }` title='Edit user', class=userClass, class={'highlight': u.login === query.login})= u.login
    if u.displayname
      small.unimportant  (aka #[span.user__displayname #{u.displayname}])
  td
    span.user__authority(class=userClass, class={'highlight': u.authority === query.authority})= u.authority
  td
    -var omitFilter = ([b, r]) => (query.role && query.role !== r.roleName) || (query.board && query.board !== b);
    -var rolesArr = Array.from(Object.entries(u.boardRoles || {}));
    -var omittedRoles = rolesArr.filter(omitFilter);
    -var notOmittedRoles = rolesArr.filter(o => !omittedRoles.includes(o));
    span.user__roles(class=userClass)
      for boardrole, i in notOmittedRoles
        -var b = boardrole[0];
        -var r = boardrole[1];
        if i !== 0
          | ,
          |
        +userRole(b, r)
    if omittedRoles.length
      div
        +showOmittedBtn(omittedRoles.length, `.${userClass}.user__roles_omitted`)
      span.user__roles_omitted.hidden(class=userClass)
        for boardrole, i in omittedRoles
          -var b = boardrole[0];
          -var r = boardrole[1];
          if i !== 0
            | ,
            |
          +userRole(b, r)
  td
    span.user__addedon(class=userClass)
      +date(u.addedon)
  td
    span.user__lastactive(class=userClass)
    +datetime(u.lastactive)


block header
  h1 Staff

block main
  //- pre= JSON.stringify(staff, null, 2)
  //- pre= JSON.stringify(staffMember, null, 2)
  -var allRoles= roles.map(role => ({ value: role.roleName, label: role.roleName }))
  -var allBoards= boards.map(board => ({ value: board.uri, label: `/${ board.uri }/` }))

  if staffMember
    h2 #{staffMember.login} profile
    div
      p Login: #[strong= staffMember.login]
      if staffMember.displayname
        p Name: #[strong.nickname #{staffMember.displayname}]
      p Authority: #[strong= staffMember.authority]
      if staffMember.authority === 'admin'
        -var authorities = [{ value: 'admin', label: 'admin' }, { value: 'staff-member', label: 'staff-member' }, { value: 'guest', label: 'guest' }]
        -var values = staffMember
        form#form-cahnge-authority.js-api-form.js-reload-on-success(action='/api/user', 'data-method'='PATCH')
          input(type='hidden', name='user', value=staffMember.login)
          +comboboxEdit('authority', 'Auhority', authorities, '', true)
          input(type='submit', value='Change authority')
      p Joined: #[strong #[+date(staffMember.addedon)]]
      p Last active: #[strong #[+datetime(staffMember.lastactive)]]
      if staffMember.contacts
        p Contacts:
        p= staffMember.contacts

    if staffMember.authority === 'admin'
      h3 Roles
      div.info Site administarator has all permissions by default.
    else
      if staffMember.boardRoles
        h3 Roles
        table.table
          thead
            tr.table__row.table__row_header
              th.table__header Delete
              th.table__header Board
              th.table__header Role
              th.table__header Change role
              th.table__header_vertical thread.isSticky
              th.table__header_vertical thread.isClosed
              th.table__header_vertical post.isSage
              th.table__header_vertical post.isApproved
              th.table__header_vertical post.isDeleted
              th.table__header_vertical attachment.isDeleted
              th.table__header_vertical attachment.isNSFW
              th.table__header_vertical attachment.isSpoiler
          tbody
            for role, board in staffMember.boardRoles
              tr.table__row
                td
                  form.js-api-form.js-reload-on-success(action='/api/user/role', 'data-method'='DELETE')
                    input(type='hidden', name='user', value=staffMember.login)
                    input(type='hidden', name='board', value=board)
                    input(type='submit', value='Delete')
                td
                  a(href=`/${board}/`) /#{board}/
                td
                  a(href=`/manage/roles/${role.roleName}/`)= role.roleName
                td
                  form.form_inline.js-api-form.js-reload-on-success(action='/api/user/role', 'data-method'='PATCH')
                    input(type='hidden', name='user', value=staffMember.login)
                    input(type='hidden', name='board', value=board)
                    -values = { role: role.roleName }
                    +comboboxEdit('role', '', allRoles, '', true)
                    input(type='submit', value='Save')
                td
                  +shortAccess(role, 'postPermissions', 'isSticky')
                td
                  +shortAccess(role, 'postPermissions', 'isClosed')
                td
                  +shortAccess(role, 'postPermissions', 'isSage')
                td
                  +shortAccess(role, 'postPermissions', 'isApproved')
                td
                  +shortAccess(role, 'postPermissions', 'isDeleted')
                td
                  +shortAccess(role, 'attachmentPermissions', 'isDeleted')
                td
                  +shortAccess(role, 'attachmentPermissions', 'isNSFW')
                td
                  +shortAccess(role, 'attachmentPermissions', 'isSpoiler')
      else
        h3 Roles
        div.info This user has no permissions on any board.

      if staffMember.boardRoles
        -var currentUserRoles = Object.entries(staffMember.boardRoles || {})
        for userRole in currentUserRoles
          if userRole
            -var board = userRole[0]
            -var role = userRole[1]

      h3 Add role
      form#form-add-role.form_inline.js-api-form.js-reload-on-success(action='/api/user/role', 'data-method'='PUT')
        input(type='hidden', name='user', value=staffMember.login)
        +comboboxEdit('board', 'Board', allBoards, '', true)
        +comboboxEdit('role', 'Role', allRoles, '', true)
        input(type='submit', value='Add role')

  -var queryArr = Array.from(Object.entries(query))

  table.table
    caption
      h2 Staff members
      if (queryArr.length)
        div.query-filters
          span.query-filters__title Active filters:
          | 
          for q, i in queryArr
            -var fname= q[0]
            -var fvalue= q[1]
            -var delquery = queryArr.filter(([qn, qv]) => qn !== fname && qv !== fvalue).map((qarr) => qarr.join('=')).join('&')
            span.query-filter.badge.badge_primary
              if i !== 0
                | ,
                |
              span.query-filter__field= fname
              | :
              span.query-filter__value= fvalue
              | 
              span.button
                a(href=`?${delquery}`) #[+icon('times', 'small')]
    thead
      tr.table__row.table__row_header
        th.table__header.table__header_sortable(data-sort-field='login' data-sort-type='string') Login
        th.table__header.table__header_sortable(data-sort-field='authority' data-sort-type='string') Authority
        th.table__header Boards
        th.table__header.table__header_sortable(data-sort-field='addedon' data-sort-type='date') Joined
        th.table__header.table__header_sortable(data-sort-field='lastactive' data-sort-type='date') Last active
    tbody
      -var staffNotOmitted = staff.filter(sm => !staffOmitted.includes(sm))
      for u in staffNotOmitted
        tr.table__row(data-login=u.login, data-authority=u.authority, data-addedon=u.addedon, data-lastactive=u.lastactive)
          +userRow(u)
      if staffOmitted.length
        tr.table__row.table__row_separator
          td(colspan=3)
            +showOmittedBtn(staffOmitted.length, '.table__row_omitted', 'users')
      for u in staffOmitted
        tr.table__row.table__row_omitted.hidden(data-login=u.login, data-authority=u.authority, data-addedon=u.addedon, data-lastactive=u.lastactive)
          +userRow(u)
