extends managepage.pug
include ../mixins/timestamp.pug
include ../mixins/inputs.pug
include ../mixins/modals.pug

mixin assetEdit(asset)
  td
    input(type='checkbox', name=`assets[][_id]`, value=`${asset._id}`)
  td
    img.asset-upload__thumb(src=asset.thumb)
  td
    div= asset.name
    div= asset.category
    div #[span.badge.badge_primary #{asset.width}x#{asset.height}] #[a(href=asset.file)= asset.file]
    div #[span.badge.badge_primary #{asset.thumbWidth}x#{asset.thumbHeight}] #[a(href=asset.thumb)= asset.thumb]

block header
  h1 Recycle Bin

block main
  if (numberOfDeletedPosts || numberOfDeletedAssets || numberOfDeletedReports)
    ul.list.list_unmarked
      if (numberOfDeletedPosts)
        li
          a(href='/manage/trash/posts') Deleted Posts: #{numberOfDeletedPosts}
      if (numberOfDeletedAssets)
        li
          a(href='/manage/trash/assets') Deleted assets: #{numberOfDeletedAssets}
      if (numberOfDeletedReports)
        li
          a(href='/manage/trash/reports') Deleted reports: #{numberOfDeletedReports}
  else
    span.button.button_link
      a(href='/manage/trash/') Return
  if (deletedAssets && deletedAssets.length)
    section
      h2 Deleted Assets
      form#form-recycle-assets(method='POST', action='/api/assets', enctype='multipart/form-data')
        table
          tbody
            for asset in deletedAssets
              tr
                +assetEdit(asset)
        button.js-modify-and-send-form(data-target='#form-recycle-assets', data-method='DELETE', data-prompt='#modal-confirm-delete') Delete
        button.js-modify-and-send-form(data-target='#form-recycle-assets', data-method='PATCH', data-payload='{"assets[][isDeleted]": false}', data-prompt='#modal-confirm-restore') Restore
  if (deletedReports && deletedReports.length)
    section
      h2 Deleted Reports
      form#form-recycle-reports(method='POST', action='/api/report', enctype='multipart/form-data')
        ul.list.list_unmarked
          for report in deletedReports
            -var entryId = report._id;
            li.report-entry(id=entryId)
              div.report-entry__header
                label
                  input.report-entry__checkbox.js-checkbox-master(
                    type='checkbox',
                    name='reports[][_id]',
                    value=entryId,
                    data-target=`#${entryId} .post__header__checkbox`)
                  span Report
                  | 
                  +datetime(report.timestamp)
                | 
                span.posterip IP hash: #[= report.iphash]
              blockquote.report-entry__reason= report.reason
        button.js-modify-and-send-form(data-target='#form-recycle-reports', data-method='DELETE', data-prompt='#modal-confirm-delete') Delete
        button.js-modify-and-send-form(data-target='#form-recycle-reports', data-method='PATCH', data-payload='{"reports[][isDeleted]": false}', data-prompt='#modal-confirm-restore') Restore
  if (deletedPosts && deletedPosts.length)
    section
      h2 Deleted Posts
      form(method='GET', action='/manage/posts')
        ul.list.list_inline
          for board in boards
            - var isSelected = selectedBoards.includes(board)
            li.list__item
              label
                input.js-set-uri-param(type='checkbox', value=board.uri, name='filter[]', checked=isSelected)
                span /#{board.uri}/
        input(type='submit', value='Filter')
      form.admin-form.replies-container
        for post in deletedPosts
          div.reply-container(id=`reply${ post.postId }`)
            include ../includes/post.pug

block modals
  +confirmPrompt('modal-confirm-delete', 'Delete items', 'Delete')
    | Delete selected items?
  +confirmPrompt('modal-confirm-restore', 'Restore items', 'Restore')
    | Restore selected items?
